<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}"
          href="../../css/main.css"/>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>
<body>
<h1 align="center">Checkout</h1>
<div>
    <table width="50%" align="center" border="2px">
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Remove from Cart</th>
        </tr>
        <tr th:each="item : ${cartItems}">
            <td th:text="${item.productId}"></td>
            <td th:text="${item.productName}"></td>
            <td th:text="${item.productPrice}"></td>
            <td><a th:href="@{/mycart/remove/{product_id}(product_id=${item.productId})}">Remove from Cart</a></td>
        </tr>
        <tr>
            <td colspan="2" align="right">Total: </td>
            <td colspan="2" align="left" th:text="${total}"></td>
        </tr>
    </table>
</div>
<form method="post" th:action="@{/mycart/orderDetails}">
    <table width="50%" align="center">
        <tr>
            <th>First Name</th>
            <td><input type="text" name="fname"></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td><input type="text" name="lname"></td>
        </tr>
        <tr>
            <th>Mobile No.</th>
            <td><input type="text" name="mobile"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <th>Address</th>
            <td><input type="text" name="address"></td>
        </tr>
        <tr>
            <td><input type="submit"  value="Confirm"></td>
            <td><input type="reset"   value="Reset"></td>
        </tr>
    </table>
</form>
</body>
</html>